<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <headear>
            <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Bad Apartments</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile-register' %}">Log in</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'my-bookings' %}">My Bookings</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile-register' %}">Create Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile-details' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'apartment-catalogue' %}">Apartment Catalogue</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'apartment-book' %}">Book an apartment</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       View Apartments
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'apartment-details' %}">Apartment 1</a></li>
                        <li><a class="dropdown-item" href="{% url 'apartment-details' %}">Apartment 2</a></li>
                        <li><a class="dropdown-item" href="{% url 'apartment-details' %}">Apartment 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
    </headear>
    {% block content %}
    {% endblock %}
  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Python Web Exam
    </div>
  </footer>
  </body>
</html>